.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-header {
    padding: 10px;
}

.content-upload{
    background-color: #2c3e50; 
    border-radius: 20px;
    padding: 15px;
    color: white;
}

.content-upload-header {
    display: flex;
    position: relative;
    }


.content-upload select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #34495e;
    color: rgb(209, 209, 209);
    margin-bottom: 10px;
    outline: none;
    appearance: none;
  }
  
  
  .content-upload input[type="file"] {
    width: 96.5%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #34495e;
    color: rgb(209, 209, 209);
    margin-bottom: 10px;
    outline: none;
  }
  
  .content-upload button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0072be;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
  }
  
  .content-upload button[type="submit"]:hover {
    background-color: #2980b9;
  }

  .content-upload input[type="text"] {
    width: 92%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #34495e;
    color: rgb(209, 209, 209);
    margin-bottom: 10px;
    outline: none;
  }

  /*All files list */
.all-files {
  max-height: 78%;
  overflow-y: auto;
}

.visible-file {
  background-color: #77DD77;
}

.hidden-file {
  background-color: #ff7070;
}

.file-button {
  border:  1px solid #555;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.hidden-file-button {
  border:  1px solid #555;
  cursor: pointer;
  
}

.file-button:hover {
  background-color: rgb(174, 255, 167);
}

.hidden-file-button:hover {
  background-color: rgb(253, 154, 154);
}

