.admin-container {
    padding: 20px;
}

.sections-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .sections-container {
        flex-direction: column;
    }
}

/* Password reuirement button */
.toggle-password-section {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.toggle-password-section h1{
    position: absolute;
    left: 0;
    padding: 0 20px;
}

/* Sections for all */
.admin-section {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    overflow: auto;
    height: 300px;
    overflow-y: hidden;
}

.user-list {
    max-height: 65%;
    overflow-y: auto;
}

/* Editor Toolbar Styles */
.editor-toolbar {
    background-color: rgb(134, 176, 226);
    padding: 5px;
    display: flex;
    height: 40px;
    align-items: center;
}

.editor-toolbar p {
    margin-right: 10px;
}

/*All files list */
.all-files {
    max-height: 78%;
    overflow-y: auto;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* User info / files */
.user-files {
    max-height: 235px;
    overflow-y: auto;
}

.user-info-header {
    display: flex;
    justify-content: flex-end;
}

.user-info-header h3{
    margin-right: auto;
}

.user-info {
    margin-top: 10px;
    padding: 10px;
    background-color: #eef;
    border-radius: 5px;
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 6px;
}

.user-name {
    font-size: 1.2rem;
    margin-right: 15px;
}
.user-action-buttons {
    display: flex; 
    gap: 10px; 
}

.user-files-section {
    padding: 0;
}