.button-container {
    display: flex;
    margin-top: 10px;
  }

  .command-button {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: block;  
    width: 100%;
    text-align: left;  
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: rgb(7, 7, 7);
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 3px 0;
  }
  
  .command-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
  }
  
  .command-button:active {
    background-color: rgba(255, 255, 255, 0.4); 
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); 
  }

  .button {
    font-family: Verdana,  Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    outline: none;
    margin: 5px;
    background-color: rgb(60, 120, 180);
    color: white;
  }
  
  .button:hover {
    background-color: rgb(80, 140, 200);
  }
  
  .button:active {
    transform: scale(0.97); 
  }
  
  .send-button {
    background-color: rgb(60, 120, 180);
  }
  
  .send-button:hover {
    background-color: rgb(80, 140, 200);
  }
  
  .compile-button {
    background-color: rgb(90, 160, 60);
  }
  
  .compile-button:hover {
    background-color: rgb(110, 180, 80);
  }