.editornavbar {
    background-color: rgb(134, 176, 226);
    color: white;
    height: 40px;
    display: flex;
    align-items: left;
    width: 100%;
    padding: 5px;

  }

  

  .file-select-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.file-select-content{
    background-color: #2c3e50; 
    border-radius: 20px;
    padding: 10px;

}

  .file-select-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .close-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .close-button:hover {
    color: #e74c3c;
  }
  
  .content-file-select {
    padding: 10px;
  }
  
  .content-popup h2 {
    margin-top: 0;
    color: white;
  }
  
  .content-popup input[type="text"] {
    width: 92.3%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #34495e; 
    color: white;
    margin-bottom: 10px;
    outline: none; 
  }
  
  .content-popup input[type="text"]::placeholder {
    color: #95a5a6;
  }

  .content-popup button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3498db; 
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .content-popup button:hover {
    background-color: #2980b9;
  }