.app-footer {
    padding: 10px;
    background-color: #CCC;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* Add any additional styling you wish here */
}