.popup-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #34495e; 
    color: rgb(209, 209, 209);
    margin: 5px 0;
    outline: none; 
    width: calc(100% - 20px);
}
  
.popup-input::placeholder {
    color: #cccccc;
}

.search-bar-input {
    display: flex;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 90%;
    padding: 1vw;
    border-radius: 10px;
    border: 1px solid rgb(60, 120, 180);
}


.user-list-section input[type="text"] {
    width: calc(100% - 40px);
    padding: 8px 15px;
    font-size: 14px;
    border: 2px solid #ced4da;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
    display: block;
    margin: 0 auto 10px auto;
}

.user-list-section input[type="text"]::placeholder {
    color: #adb5bd;
}

.user-list-section input[type="text"]:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
}