.navbar {
  background-color: rgb(134, 176, 226);
  color: white;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.username {
  color:rgb(0, 0, 0);
  font-family: Verdana, Arial, Helvetica, sans-serif;
  display: flex;
  padding-right: 20px;
}

.logout {
  display: flex;
}

.lang-button-container {
  display: flex;
  padding-right: 20px;
}

.logout-button-container {
  padding-right: 20px;
  padding-top: 9px;
}

h1{
  position: absolute;
  left: 0;
  padding: 0 20px;
}