.navbar {
  background-color: rgb(134, 176, 226);
  color:rgb(0, 0, 0);
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navbar h1{
  position: absolute;
  left: 0;
  padding: 0 20px;
}