.notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    transition: opacity 0.5s;
  }
  
.notification.fade-out {
  opacity: 0;
  pointer-events: none;
}