.popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #2c3e50;
    border-radius: 20px;
    width: 15vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    padding: 20px 20px 20px 20px;
    position: relative;
}
  
.popup-close-button-container {
    display: flex;
    justify-content: flex-end;
}
  
.popup-container h2 {
    margin-top: 0;
}

.popup-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}