.sidebar {
    width: 100%;
    height: calc(100%-1vh);
    max-height: 100%;
    background-color:rgb(170, 206, 253);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    overflow-y: auto;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.command-list-container {
    padding-top: 10px;
    overflow-y: auto;
    height: 90%;
}

.command-list {
    list-style-type: none;
    padding-left: 0;
}

@media (max-width: 768px) {
    .sidebar {
        overflow-y: auto;
    }
}