/* Editornavbar fileselect */
table {
    width: 100%;
    border-collapse: collapse;
}


.file-row:hover td:nth-child(2),
.file-row:hover td:nth-child(3),
.file-row:hover td:nth-child(4){
    background-color: #384b5f;
}

.center-th {
    background-color: #34495e;
    border: 1px solid #555;
    position: sticky;
    top: 0;
}

.center-td {
    border-bottom: 1px solid #555;
    border-top: 1px solid #555;
}

.border-th {
    background-color: #34495e;
    border: 1px solid #555;
    position: sticky;
    top: 0;
}

.left-td {
    border-bottom: 1px solid #555;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
}

.right-td {
    border-bottom: 1px solid #555;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
}

th, td {
    padding: 10px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file-open-td {
    border:  1px solid #555;
}

.file-hide-td {
    border:  1px solid #555;
}

.file-open-td:hover {
    background-color: rgb(42, 101, 68);
    color: white;
    cursor: pointer;
}

.file-hide-td:hover {
    background-color: rgb(183, 63, 30);
    color: white;
    cursor: pointer;
}

/*Admin view table files*/

.visible-file {
    background-color: #77DD77;
}

.hidden-file {
    background-color: #ff7070;
}

.file-button {
    border:  1px solid #555;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.hidden-file-button {
    border:  1px solid #555;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.file-button:hover {
    background-color: rgb(174, 255, 167);
}

.hidden-file-button:hover {
    background-color: rgb(253, 154, 154);
}


.visible-file:hover td:nth-child(1),
.visible-file:hover td:nth-child(2),
.visible-file:hover td:nth-child(3){
    transition: background-color 0.3s, transform 0.2s;
    background-color: rgb(174, 255, 167);
}

.hidden-file:hover td:nth-child(1),
.hidden-file:hover td:nth-child(2),
.hidden-file:hover td:nth-child(3){
    transition: background-color 0.3s, transform 0.2s;
    background-color: rgb(253, 154, 154);
}

.admin-border-th {
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
}

.admin-border-th th{
    cursor: pointer;
}

.admin-border-th-asc {
    content: ' ▲'; 
    background-color: black;
}

.admin-border-th-desc {    
    content: ' ▼'; 
}

.admin-table {
    width: 20px;
    border-collapse: collapse;
}